* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #ffffff;
    font-size: 1em;
    font-family: 'Nanum Gothic', '맑은 고딕', '돋움', 'dotum', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}




#profile {
    width: 1200px;
    height: 530px;
    margin-bottom: 100px;
    padding-top: 120px;
}

#profile .contentsBox1 h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    margin-top: 20px;
    color: #192838;
    text-indent: -9999px;
}

#profile .contentsBox1 {
    width: 1100px;
    height: 200px;
    margin: 0 50px;
    position: relative;
    background: rgba(255, 0, 0, 0.3);
}

#profile .contentsBox1 ul li {
    float: left;
    list-style: none;
}

#profile .contentsBox1 ul li.dd1 {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 0; /* 알드라이브에서 실행했을 때 보이는 sample텍스트 감추기 */
}

#profile .contentsBox1 ul li.dd2 {
    position: absolute;
    top: 100px;
    left: 600px;
    font-size: 0;
    color: transparent;
}

#profile .contentsBox1 ul li.dd3 {
    position: absolute;
    top: 80px;
    left: 370px;
    font-size: 0;
    color: transparent;
}

#profile .contentsBox1 ul li.dd4 {
    position: absolute;
    top: 100px;
    left: 70px;
    font-size: 0;
    color: transparent;
}

#profile .contentsBox1 ul li.dd5 {
    position: absolute;
    top: 100px;
    right: 60px;
    font-size: 0;
    color: transparent;
}

#profile .contentsBox1 ul li.dd6 {
    position: absolute;
    top: 80px;
    right: 140px;
    font-size: 0;
    color: transparent;
}

#profile .contentsBox1 ul li.dd7 {
    position: absolute;
    top: 80px;
    left: 690px;
    font-size: 0;
    color: transparent;
}

#profile .contentsBox1 ul li.dd8 {
    position: absolute;
    display: none;
}

#profile .contentsBox1 ul li.dd9 {
    position: absolute;
    top: 80px;
    left: 140px;
    font-size: 0;
    color: transparent;
}